<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nagatosingle.dao.UserMapper">
    <resultMap id="AuthUserMapper" type="com.github.nagatosingle.entity.NagatoAuthUser">
        <result property="username" column="client_id"/>
        <result property="password" column="client_secret"/>
<!--        <result property="" column=""/>-->
<!--        <result property="" column=""/>-->
<!--        <result property="" column=""/>-->
    </resultMap>
    
    <resultMap id="UserProfileMapper" type="com.github.nagatosingle.entity.NagatoUserProfile">
        <id property="uuid" column="user_no_generate" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="username" column="user_nick" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="realName" column="user_real_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="gender" column="user_gender" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userIconURI" column="icon_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="email" column="user_email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userCurrentMood" column="user_current_mood" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userSign" column="user_sign" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userPhone" column="user_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userFaceId" column="user_face_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userCredit" column="user_credit" javaType="java.lang.Double" jdbcType="DOUBLE"/>
        <result property="isInspector" column="is_inspector" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="accessPropertyDevice" column="access_property_device" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="accessPropertyLog" column="access_property_log" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="accessPropertyUser" column="access_property_user" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="userCreate" column="gmt_create"/>
        <result property="userHireDate" column="user_hire_date"/>
    </resultMap>


    <select id="findUserProfileByUuid" resultMap="UserProfileMapper">
        SELECT user_no_generate, user_real_name, user_nick, user_gender, user_hire_date,
               user_credit, user_face_id, user_phone, user_current_mood, is_inspector,
               ICON.icon_url, user_sign, user_email, access_property_device, access_property_log, access_property_user, USER.gmt_create
        FROM nagato_plain_user USER
                 JOIN nagato_user_icon ICON ON USER.user_no = ICON.user_no
                 JOIN nagato_user_credit CREDIT ON USER.user_no = CREDIT.user_no
                 JOIN nagato_user_sign SIGN ON USER.user_no = SIGN.user_no
                 JOIN nagato_user_email EMAIL ON USER.user_no = EMAIL.user_no
        WHERE USER.user_no_generate = '4dbc7a6bc02a42c095fff026be8b3fa5';
    </select>


    <select id="findAuthUserByUsername" resultMap="AuthUserMapper">
        select client_id, client_secret
        from oauth_client_details
        where client_id = #{username}
    </select>

    <select id="findUserNoByUsername" resultType="java.lang.Integer">
        select user_no from nagato.nagato_plain_user
        where user_nick = #{username}
    </select>

    <select id="findUserNoByUserNoGenerate" resultType="java.lang.Integer">
        select user_no from nagato.nagato_plain_user
        where user_no_generate = #{userNoGenerate}
    </select>

    <select id="findUserNoByUserPhone" resultType="java.lang.Integer">
        select user_no from nagato.nagato_plain_user
        where user_phone = #{phone}
    </select>

    <select id="findUserPasswordByUserNo" resultType="java.lang.String">
        select user_password from nagato.nagato_user_password
        where user_no = #{userNo}
    </select>

    <select id="findUserNoGenerateByUserNo" resultType="java.lang.String">
        select user_no_generate from nagato.nagato_plain_user
        where user_no = #{userNo}
    </select>

    <select id="findUserNoGenerateByPhone" resultType="java.lang.String">
        select user_no_generate from nagato_plain_user
        where user_phone = #{phone}
    </select>

    <select id="findUsernameByUserNo" resultType="java.lang.String">
        select user_nick from nagato.nagato_plain_user
        where user_no = #{userNo}
    </select>
    
    <select id="findUsernameValidation" resultType="java.lang.Integer">
        select count(user_nick) from nagato.nagato_plain_user where user_nick = #{username}
    </select>

<!--主从表插入操作-->
    <insert id="createPlainUser" parameterType="com.github.nagatosingle.entity.NagatoRegisterProfile" useGeneratedKeys="true" keyProperty="userNo" keyColumn="user_no">
        insert into nagato_plain_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                user_no_generate,
            </if>
            <if test="username != null" >
                user_nick,
            </if>
            <if test="gender != null">
                user_gender,
            </if>
            <if test="realName != null">
                user_real_name,
            </if>
            <if test="phone != null">
                user_phone
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="username != null" >
                #{username},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="realName != null">
                #{realName},
            </if>
            <if test="phone != null">
                #{phone}
            </if>
        </trim>;
    </insert>

    <insert id="createUserPassword" parameterType="com.github.nagatosingle.entity.NagatoRegisterProfile">
        insert into nagato_user_password(user_no, user_password)
        values (#{userNo}, #{password});
    </insert>

    <insert id="createUserIconDefault">
        insert into nagato_user_icon(user_no, icon_url)
        values (#{userNo}, #{defaultURL});
    </insert>

    <insert id="createUserCreditDefault">
        insert into nagato_user_credit(user_no, user_credit)
        values (#{userNo}, #{defaultCredit});
    </insert>

    <insert id="createUserSignDefault">
        insert into nagato_user_sign(user_no, user_sign)
        values (#{userNo}, #{defaultSign});
    </insert>

    <insert id="createUserEmailDefault">
        insert into nagato_user_email(user_no)
        values (#{userNo});
    </insert>
</mapper>